@font-face {
    font-family: 'nanumSquare Neo';
    src: url('./fonts/NanumSquare_acEB.ttf') format('truetype');
    font-weight: 900;
  }
  
@font-face {
    font-family: 'nanumSquare Neo';
    src: url('./fonts/NanumSquare_acB.ttf') format('truetype');
    font-weight: 700 800;
}

@font-face {
    font-family: 'nanumSquare Neo';
    src: url('./fonts/NanumSquare_acR.ttf') format('truetype');
    font-weight: 500 600;
}

@font-face {
    font-family: 'nanumSquare Neo';
    src: url('./fonts/NanumSquare_acL.ttf') format('truetype');
    font-weight: 300 400;
}

body {
margin: 0;
font-family: 'nanumSquare Neo';
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
